<!DOCTYPE html>
<html>
<head>
  <title>Microposts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %> <!-- ハッシュ.each do |key, value| --> 
      <div class="aler alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>　<!-- コントローラで処理された内容を埋め込む　-->
  </div>
</body>
</html>
